<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/image1.jpg" class="d-block w-100" alt="Image1">
    </div>
    <div class="carousel-item">
      <img src="/assets/image2.jpg" class="d-block w-100" alt="Image2">
    </div>
    <div class="carousel-item">
      <img src="/assets/image3.jpg" class="d-block w-100" alt="Image3">
    </div>
  </div>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ab architecto asperiores atque consequatur culpa
  distinctio dolorum earum et, eum ex excepturi incidunt ipsam laudantium molestiae neque nobis nostrum nulla officiis
  provident quae quaerat quam quasi quia quibusdam quisquam quo reiciendis rem repellat reprehenderit sed similique sunt
  veritatis! Aliquid, optio, quaerat! Accusamus amet autem culpa delectus perferendis. A amet, beatae corporis deleniti
  dolor eius et illum in ipsam iste, libero, magnam maxime molestiae nam vero voluptatem voluptatibus. Animi asperiores
  blanditiis commodi, dolore in inventore iure libero, modi mollitia nemo perferendis quam sed vel vero vitae!
  Accusantium labore laudantium temporibus voluptas.
</p>

